h2 {
  display: flex;
  align-items: center;
}
h2 img {
  height: 2rem;
  margin-right: 10px;
}

table table {
  width: 24vw;
}

h3 {
  padding: 5px 15px;
  border-radius: var(--radius);
  background: var(--color-theme);
  color: white;
  margin: 1rem 10vw;
  text-align: center;
}

h2:not(:has(img)) {
  font-size: 2rem;
  float: right
}

@media (max-width: 1200px) {
  .image-table {
    width: 80vw;
  }
}
